# Project for CPSC4810

## Problem Description

Nowadays the housing pric increased compared to the past. This is a serious problems for tenants and also for the landlords. We considered many reason for the increasing price. For example, the inflation, popularity of Vancouver housing, and the immigrants moving to Canada. For this project we will be focusing on the immigrants to Canada. The topic for our project is "How long did it take for immigrants to Canada affect the housing price in Lower Mainland".
The data source is made available by Census Canada website and statistic Canada.

The main dataset for our project 
-
-
-

Now lets go ahead and have a look at these datasets.

# Essential imports

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Housing Data

In [12]:
house = pd.read_excel('housing/Seasonally Adjusted.xlsx')
house

,Date,Composite_HPI_SA,Single_Family_HPI_SA,One_Storey_HPI_SA,Two_Storey_HPI_SA,Townhouse_HPI_SA,Apartment_HPI_SA,Composite_Benchmark_SA,Single_Family_Benchmark_SA,One_Storey_Benchmark_SA,Two_Storey_Benchmark_SA,Townhouse_Benchmark_SA,Apartment_Benchmark_SA
0,2005-01-01,100.0,100.0,100.0,100.0,100.0,100.0,219800,232700,192200,272200,204300,171500
1,2005-02-01,100.7,100.6,100.4,100.7,100.3,101.0,221300,234200,193000,274000,205000,173300
2,2005-03-01,101.4,101.4,101.1,101.5,100.6,101.7,222900,236000,194300,276200,205500,174400
3,2005-04-01,102.2,102.3,101.8,102.2,100.8,102.2,224600,238100,195700,278300,206000,175300
4,2005-05-01,102.9,103.1,102.4,103.0,101.0,102.7,226100,239900,196800,280400,206300,176200
...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,2022-10-01,339.7,351.4,325.0,350.8,339.0,320.4,746600,817600,624600,954900,692600,549500
214,2022-11-01,334.5,345.3,320.2,345.4,334.4,317.9,735300,803600,615400,940300,683200,545200
215,2022-12-01,329.4,339.4,315.0,339.3,328.8,314.4,724000,789700,605400,923600,671700,539200
216,2023-01-01,323.9,331.1,309.0,330.2,324.0,310.7,712000,770500,593900,898900,661900,532900
217,2023-02-01,320.4,327.2,306.3,326.1,319.2,305.9,704300,761300,588700,887600,652200,524700

## Immigratioin Data

In [20]:
specific_rows = [x for x in range(2,21)]
imm = pd.read_csv('immigration/2021A000011124_2.csv', skiprows = lambda x: x not in specific_rows)
imm

    Census years   Number  Percentage (%)
0           1871   594207            16.0
1           1881   602984            13.9
2           1891   643871            13.3
3           1901   699500            13.0
4           1911  1586961            22.0
5           1921  1955736            22.3
6           1931  2307525            22.3
7           1941  2018847            17.5
8           1951  2059911            14.7
9           1961  2844263            15.6
10          1971  3295530            15.3
11          1981  3843335            16.0
12          1991  4342890            16.1
13          2001  5448480            18.4
14          2006  6186950            19.8
15          2011  6775770            20.6
16          2016  7540830            21.9
17          2021  8361505            23.0

# Formatting Data

# Corrolations Analysis