# Project for CPSC4810

## Problem Description

Nowadays the housing pric increased compared to the past. This is a serious problems for tenants and also for the landlords. We considered many reason for the increasing price. For example, the inflation, popularity of Vancouver housing, and the immigrants moving to Canada. For this project we will be focusing on the immigrants to Canada. The topic for our project is "How long did it take for immigrants to Canada affect the housing price in Lower Mainland".
The data source is made available by Census Canada website and statistic Canada.

The main dataset for our project 
-
-
-

Now lets go ahead and have a look at these datasets.

# Essential imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Housing Data

In [3]:
specific_rows = [x for x in range(9,38)]
xlsx = 'data/housing/Seasonally Adjusted.xlsx'
house = pd.read_excel(xlsx)
houseVancouver = pd.read_excel(xlsx, 'GREATER_VANCOUVER')
houseToronto = pd.read_excel(xlsx, 'GREATER_TORONTO')
area_percentage = pd.read_csv('data/housing/Area_percentage.csv', skiprows = lambda x: x not in specific_rows)
display(houseToronto)
display(houseVancouver)
display(area_percentage)

,Date,Composite_HPI_SA,Single_Family_HPI_SA,One_Storey_HPI_SA,Two_Storey_HPI_SA,Townhouse_HPI_SA,Apartment_HPI_SA,Composite_Benchmark_SA,Single_Family_Benchmark_SA,One_Storey_Benchmark_SA,Two_Storey_Benchmark_SA,Townhouse_Benchmark_SA,Apartment_Benchmark_SA
0,2005-01-01,100.0,100.0,100.0,100.0,100.0,100.0,319700,366700,356500,373900,216000,201700
1,2005-02-01,102.1,103.2,100.2,104.1,99.7,101.1,326500,378500,357200,389100,215400,204000
2,2005-03-01,99.5,98.0,85.8,103.2,100.1,101.8,318100,359500,305900,385900,216200,205400
3,2005-04-01,101.9,101.1,90.8,104.3,100.3,102.1,325900,370800,323800,389800,216600,205900
4,2005-05-01,103.4,102.8,90.6,106.0,100.4,102.8,330600,376900,323000,396300,216800,207400
...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,2022-10-01,352.7,361.9,307.5,373.3,386.8,364.1,1127600,1327200,1096300,1395800,835400,734300
214,2022-11-01,347.6,356.9,305.4,368.0,380.6,359.1,1111400,1308800,1088700,1375900,822200,724400
215,2022-12-01,341.6,350.1,302.0,363.9,374.3,355.6,1092100,1283800,1076500,1360800,808400,717300
216,2023-01-01,334.2,342.4,294.6,353.5,366.9,350.7,1068300,1255400,1050300,1321800,792500,707400
217,2023-02-01,328.8,338.3,294.9,349.0,359.9,340.0,1051200,1240400,1051300,1304800,777300,685700

,Date,Composite_HPI_SA,Single_Family_HPI_SA,One_Storey_HPI_SA,Two_Storey_HPI_SA,Townhouse_HPI_SA,Apartment_HPI_SA,Composite_Benchmark_SA,Single_Family_Benchmark_SA,One_Storey_Benchmark_SA,Two_Storey_Benchmark_SA,Townhouse_Benchmark_SA,Apartment_Benchmark_SA
0,2005-01-01,100.0,100.0,100.0,100.0,100.0,100.0,359200,541900,423900,604300,293600,221800
1,2005-02-01,100.4,100.1,100.4,100.0,100.5,100.8,360500,542400,425400,604300,295100,223500
2,2005-03-01,100.8,100.1,100.5,100.0,100.7,102.2,362100,542700,426000,604100,295800,226700
3,2005-04-01,101.1,100.3,101.1,100.1,101.4,102.8,363000,543700,428400,605000,297700,228100
4,2005-05-01,101.5,100.5,101.1,100.3,101.7,103.7,364700,544800,428700,606100,298500,230000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,2022-10-01,324.3,354.0,341.8,343.0,361.3,332.4,1165000,1918200,1448900,2072800,1060800,737200
214,2022-11-01,320.5,348.5,334.5,338.3,357.2,330.9,1151300,1888500,1417900,2044300,1048800,734000
215,2022-12-01,317.0,343.1,329.0,333.0,354.4,329.4,1138500,1859500,1394500,2012300,1040600,730600
216,2023-01-01,313.3,336.6,323.9,326.9,354.3,328.1,1125400,1824200,1372900,1975500,1040100,727700
217,2023-02-01,311.1,333.5,319.8,323.7,351.6,328.4,1117300,1807400,1355800,1956000,1032200,728500

,Geography,2017,2018,2019,2020,2021,2022,2023
0,Canada,100.00,100.00,100.00,100.00,100.00,100.00,100.00
1,"St. John's, Newfoundland and Labrador",1.16,0.87,0.68,0.41,0.31,0.22,0.23
2,"Charlottetown, Prince Edward Island",0.15,0.18,0.27,0.14,0.13,0.12,0.15
3,"Halifax, Nova Scotia",0.72,0.71,0.79,0.81,1.02,1.10,1.27
4,"Saint John, Fredericton and Moncton, New Bruns...",1.02,0.87,0.69,0.47,0.45,0.45,0.56
5,"QuÃ©bec, Quebec",1.45,1.34,1.32,0.49,0.55,0.60,0.75
6,"Sherbrooke, Quebec",0.52,0.47,0.43,0.18,0.21,0.21,0.24
7,"Trois-RiviÃ¨res, Quebec",0.30,0.25,0.25,0.09,0.10,0.11,0.14
8,"MontrÃ©al, Quebec",5.33,5.16,5.43,3.51,3.75,3.88,3.87
9,"Ottawa-Gatineau, Quebec part, Ontario/Quebec",0.78,0.67,0.72,0.39,0.45,0.52,0.50
10,"Ottawa-Gatineau, Ontario part, Ontario/Quebec",4.42,4.65,5.38,4.42,5.68,7.02,7.77
11,"Oshawa, Ontario",2.44,2.51,2.77,1.37,1.84,3.41,3.04
12,"Toronto, Ontario",25.49,27.91,29.06,29.10,24.32,21.69,21.75
13,"Hamilton, Ontario",2.85,2.68,2.55,2.06,2.25,2.07,1.86
14,"St. Catharines-Niagara, Ontario",1.56,1.94,2.19,2.09,2.52,2.68,2.89
15,"Kitchener-Cambridge-Waterloo, Ontario",1.75,2.17,2.22,2.15,2.56,3.13,3.08
16,"Guelph, Ontario",0.60,0.68,0.64,0.68,0.80,0.72,0.70
17,"London, Ontario",2.14,2.38,2.80,2.08,2.33,3.13,3.54
18,"Windsor, Ontario",1.15,1.34,1.35,1.04,1.08,1.30,1.39
19,"Greater Sudbury, Ontario",0.32,0.30,0.18,0.13,0.14,0.18,0.17
20,"Winnipeg, Manitoba",2.73,2.72,2.93,2.22,2.35,2.38,2.19
21,"Regina, Saskatchewan",1.25,1.02,0.88,0.72,0.57,0.52,0.50
22,"Saskatoon, Saskatchewan",2.23,1.83,1.48,1.16,1.02,0.99,1.04
23,"Calgary, Alberta",11.56,9.52,8.15,7.83,7.87,8.40,9.81
24,"Edmonton, Alberta",13.09,11.69,9.96,7.30,7.53,6.96,7.12
25,"Kelowna, British Columbia",1.54,1.68,1.73,1.88,1.89,1.91,2.03
26,"Vancouver, British Columbia",12.28,13.03,13.50,25.11,25.92,23.79,20.80
27,"Victoria, British Columbia",1.18,1.46,1.63,2.16,2.35,2.51,2.63

## Immigratioin Data

In [16]:
specific_rows = [x for x in range(2,21)]
censusImm = pd.read_csv('data/immigration/2021A000011124_2.csv', skiprows = lambda x: x not in specific_rows)
percentDistrImmRows = [x for x in range(2,120)]
percentDistrImm = pd.read_csv('data/immigration/2021A000011124_3.csv', skiprows = lambda x: x not in percentDistrImmRows)
percentTypeImmRows = [x for x in range(2,171)]
percentTypeImm = pd.read_csv('data/immigration/2021A000011124_4.csv', skiprows = lambda x: x not in percentTypeImmRows)
demoGrowthImmRows = [x for x in range(9,20)]
demoGrowthImm = pd.read_csv('data/immigration/Estimates of the components of demographic growth, annual.csv', skiprows = lambda x: x not in demoGrowthImmRows)
demoGrowthImm

,Components of population growth,2000 / 2001,2001 / 2002,2002 / 2003,2003 / 2004,2004 / 2005,2005 / 2006,2006 / 2007,2007 / 2008,2008 / 2009,...,2012 / 2013,2013 / 2014,2014 / 2015,2015 / 2016,2016 / 2017,2017 / 2018,2018 / 2019,2019 / 2020,2020 / 2021,2021 / 2022
0,NaN,Persons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Births 2 3,"327,107","328,155","330,523","337,762","339,270","346,082","360,916","373,695","379,290",...,"381,607","382,281","383,315","383,579","379,906","376,750","372,868","371,059","361,613","368,792"
2,Deaths 4 5,"219,114","220,494","223,905","228,829","229,906","225,489","233,825","236,525","237,708",...,"251,656","253,052","266,161","262,087","274,263","283,760","282,891","296,806","306,465","323,221"
3,Immigrants 6,"252,527","256,405","199,170","239,083","244,578","254,374","238,125","249,622","245,289",...,"263,101","267,924","240,763","323,192","272,707","303,325","313,601","284,157","226,308","492,984"
4,Emigrants 7 8,"47,766","50,149","53,890","58,184","57,633","61,412","66,512","66,158","61,531",...,"62,129","63,722","65,837","67,893","58,630","50,580","47,337","34,835","35,838","49,769"
5,Returning emigrants 8 9,"17,910","25,727","29,257","30,441","31,620","34,711","39,235","33,576","32,069",...,"36,994","36,889","38,458","39,660","39,756","39,117","39,091","30,126","34,933","40,326"
6,Net temporary emigrants 8 10,"25,563","27,558","27,559","27,560","27,559","27,558","18,523","18,525","18,529",...,"26,667","26,668","26,665","26,664","26,970","27,294","27,687","25,109","18,842","30,946"
7,Net interprovincial migration 11,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Net non-permanent residents 12 13 14,"39,592","33,510","36,771","10,348","9,148","15,978","27,424","51,478","71,886",...,"49,521","32,867","-16,365","35,752","103,243","162,290","168,501","77,344","-42,377","205,238"
9,Residual deviation 15,"9,521","6,419","6,418","6,434","6,420","9,265","28,989","29,070","28,989",...,"22,039","22,038","22,035","18,960",0,..,..,..,..,..

# Formatting Data

In [23]:
yearlyAverageHPI = {}
vancouverYearlyAverageHPI = {}
torontoYearlyAverageHPI = {}

# Corrolations Analysis